
$purple: #aa66cc;
$cyan: #1890ff;
$green: #00c851;
$yellow: #faad14;
$red: #f5222d;
$label-margin-bottom: 0rem;
$blue: #1e5288;
$font-weight-bold: 600;
$font-size-base: 0.9rem;
$form-group-margin-bottom: .5rem;
$secondary: $gray-300;
$orange: #fa8c16;
$link-color: theme-color("info");
$enable-rounded: false;