#message {
    width: 98%;
    height: 100%;
}

.card-header {
    padding: 2px;
    margin: 2px;
}

.card-body {
    padding-top: 1px;
    margin: 1px;
    background-color: red;
}
.row.itl{
    /*background-color: lightcyan; */
    padding: 0px;
    margin: 0px;
}

.number_box {
    border-radius: 5px;
    border-width: 1px;
    border-color: blue;
    width: 50%;
}

.drop_box {
    border-radius: 5px;
    border-width: 1px;
    border-color: blue;
    width: 50%;
}