graft azcam_fastapi/static

include azcam_observe/webobs/observe.html
include azcam_observe/webobs/static_webobs/*

graft docs_observe
include azcam_testers/report.css

include azcam_webtools/status/status.html
include azcam_webtools/exptool/exptool.html
include azcam_webtools/webobs/webobs.html
include azcam_webtools/static_status/*
