.jumbotron {
    margin: 0px;
    padding: 0px;
    color: blue;
}

#title {
    margin: 5px;
    padding: 5px;
    background-color: none;
}

.msgbox {
    width: 500px;
    height: 30px;
    border: 1px dotted gray;
    padding: 0px;
    margin: 2px;
}